Package: me.qusic.proxychains
Name: ProxyChains
Version: 0.0.1
Description: An awesome MobileSubstrate tweak!
Section: Tweaks
Depends: mobilesubstrate
Priority: optional
Architecture: iphoneos-arm
Author: Qusic <hi@qusic.me>
Maintainer: Qusic <hi@qusic.me>
Sponsor: Qusic <hi@qusic.me>
Tag: purpose::extension
